#root{
  margin: 0 auto;
}
.acontainer{
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  row-gap: 30px;
  justify-content: center;
  background-color: #fff;
  max-width: 100%;
  height: 100px;
}
.modal {
  position: fixed; /* Фіксована позиція для того, щоб вікно завжди було по центру */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Прозорий фон */
  z-index: 1000; /* Високий z-index, щоб вікно було поверх іншого вмісту */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стилі для зображення в модальному вікні */
.modal-image {
  max-width: 90%; /* Максимальна ширина зображення відносно розміру вікна */
  max-height: 90%; /* Максимальна висота зображення відносно розміру вікна */
  height: auto;
  width: auto;
  margin: auto;
}